/* -----------------------------------основні налаштування-----------------------*/

:root{
    --header-color:black;
    --second-color:rgb(95, 195, 235);
}
/* -----------------------------------приховує рядки-----------------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* -----------------------------------налаштування хедера-----------------------*/
.list{
    list-style: none;
}
.site-nav .link{
    color:var(--header-color)
}
.link:hover,
.link:focus {
color: var(--second-color)
}
.site-nav .link.current {
    color:var(--second-color)
}
.link{
    text-decoration: none;
    size: 14px; 
    line-height: 1.33;
    letter-spacing: 0.1em;
}
.logo {
    color:var(--header-color)
/* -----------------------------------налаштування боді------------------------ */
/* -----------------------------------налаштування футера-----------------------*/
