/* -----------------------------------основні налаштування-----------------------*/

:root{
    --header-color:#ffffff;
    --second-color:rgb(95, 195, 235);
    --typical-margin: 20px;
}
.container {
    width: 814px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;  
}
ul,oi{
    margin: 0;
}
button{
    cursor: pointer;
}
/* -----------------------------------приховує рядки-----------------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* -----------------------------------налаштування хедера-----------------------*/
.header {
    background-color:#278fd4;
    padding-top: 32px;
    padding-bottom: 32px;
}
.list {
list-style: none;
}
.site-nav .link{
    color:var(--header-color)
}
.link:hover,
.link:focus {
color: var(--second-color)
}
.site-nav .link.current {
    color:var(--second-color)
}
.link{
    text-decoration: none;
    size: 14px; 
    line-height: 1.33;
    letter-spacing: 0.1em;
}
.logo {
    color:var(--header-color)
}
/* -----------------------------------налаштування боді------------------------ */
.text,title{
    max-width: 400px; 
    margin-top: var(--typical-margin)   
}

/* -----------------------------------налаштування футера-----------------------*/
